<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="style/images/favicon.png">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="style/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="style/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="style/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="style/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="style/type/type.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" type="text/css" href="style/css/color/purple.css">
    <!-- <link rel="stylesheet" href="{{ " /style/style.css" | relative_url }}"> -->
    <!-- <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.css" /> -->
    <!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}"> -->

    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.3.1/default/snipcart.css" />
		<link rel="preconnect" href="https://app.snipcart.com" />
		<link rel="preconnect" href="https://cdn.snipcart.com" />
		{% if site.snipcart_key %}
			<script async src="https://cdn.snipcart.com/themes/v3.3.1/default/snipcart.js"></script>
			<div hidden id="snipcart"
				data-api-key="{{ site.snipcart_key }}"
				data-currency="{{ site.snipcart_currency }}"
				data-config-modal-style="side">
			</div>
		{% endif %}
</head>