<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{% include head.html %}
{% if site.snipcart_key %}
<script async src="https://cdn.snipcart.com/themes/v3.3.1/default/snipcart.js"></script>
<div hidden id="snipcart" data-api-key="{{ site.snipcart_key }}" data-currency="{{ site.snipcart_currency }}"
    data-config-modal-style="side">
</div>
{% endif %}

<body>
    <div class="content-wrapper white-wrapper">
        {% include navbar.html %}
        {{ content }}
        {% include footer.html %}
    </div>
</body>
{% include scripts.html %}
<!-- <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.css" />
<script async src="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.js"></script> -->
<!-- <div id="snipcart" data-api-key="OWRjMjBkYTItNGFhYS00ZmYyLWI2ZTktNjU4NWYzOTk4MTBhNjM4MTg1OTU0ODI2ODgyNDk3" hidden></div> -->

</html>